*.o
*.lib
*.so
*.exe

# Environment specific files
.vscode/
__pycache__/
*__pycache__/
.venv/
*.pyc

# Build folders
*build/

# Vivado Simulation files
*project.sim/

# Approximate Computing project files (on hold)
approx/
llvm/profiler/
llvm/utils/
llvm/clang_plugins/

# Ignore everything with this prefix
___*

/data/anchor_solutions/
/figures/data/
/baselines/
/tests/

dataset/
models/

hls_utils/*.tcl
vitis_hls.log
hls.app

/*.tar.gz

# Some preliminary experiments
/results_temp

data/benchmarks/synthetic/
data/directives/synthetic/
data_gen/bench_gen/
figures/