*.o
*.lib
*.so
*.exe

# Environment specific files
.vscode/
__pycache__/
*__pycache__/
.venv/
*.pyc

# Build folders
*build/

# Approximate Computing project files (on hold)
approx/
llvm/profiler/
llvm/utils/
llvm/clang_plugins/

hls_utils/*.tcl
hls.app
.temp/